<div style="margin: 15px">
  Formulário HTML com os dados a serem preenchidos:
</div>
<form *ngIf="pessoa">
  <div>
    <span>Nome: </span>
    <input type="text" name="nome" [(ngModel)]="pessoa.nome">
  </div>
  <div>
    <span>CPF: </span>
    <input type="text" name="sobrenome" [(ngModel)]="pessoa.cpf">
  </div>
  <div>
    <span>Idade: </span>
    <input type="text" name="endereco" [(ngModel)]="pessoa.idade">
  </div>
  <div>
    <span>Campo1: </span>
    <input type="text" name="endereco" [(ngModel)]="pessoa.campo1">
  </div>
  <div>
    <span>Campo2: </span>
    <input type="text" name="endereco" [(ngModel)]="pessoa.campo2">
  </div>
  <div>
    <span>Campo3: </span>
    <input type="text" name="endereco" [(ngModel)]="pessoa.campo3">
  </div>
  <div style="padding-top: 15px; padding-bottom: 5px;">Endereço</div>
  <div>
    <div>
      Logradouro:
      <input type="text" name="endereco" [(ngModel)]="pessoa.endereco.logradouro">
    </div>
    <div>
      Bairro:
      <input type="text" name="endereco" [(ngModel)]="pessoa.endereco.bairro">
    </div>
    <div>
      Complemento:
      <input type="text" name="endereco" [(ngModel)]="pessoa.endereco.complemento">
    </div>
  </div>

  <div style="padding-top: 5px; padding-bottom: 15px">
    <button (click)="enviar()" type="submit">Enviar</button>
  </div>
  Impressão da classe Pessoa com os dados preenchidos no formulario HTML: {{pessoa | json}}
</form>

<div style="margin: 15px">
  <div>Estrutura de dados que representa uma pessoa (Javascript)</div>
  <pre>
    {{print()}}
  </pre>
</div>

<div style="margin: 15px">
  <div style="margin-bottom: 15px">Estrutura de dados de uma pessoa (Json -> formato de dados utilizado para envio de informações ao backend)</div>
  <pre>
{{umaPessoa | json}}
  </pre>
</div>

