<div style="margin: 15px">
  Formulário HTML com os dados a serem preenchidos:
</div>
<form *ngIf="pessoa">
  <span>Nome</span>
  <div>
    <input type="text" name="nome" [(ngModel)]="pessoa.nome">
  </div>
  <span>Sobrenome</span>
  <div>
    <input type="text" name="sobrenome" [(ngModel)]="pessoa.sobrenome">
  </div>
  <span>Endereço</span>
  <div>
    <input type="text" name="endereco" [(ngModel)]="pessoa.endereco">
  </div>
  <div style="padding-top: 5px; padding-bottom: 15px">
    <button (click)="enviar()" type="submit">Enviar</button>
  </div>
  Impressão da classe Pessoa com os dados preenchidos no formulario HTML: {{pessoa | json}}
</form>

<div style="margin: 15px">
  <div>Estrutura de dados que representa uma pessoa (Javascript)</div>
  <pre>
    {{print()}}
  </pre>
</div>

<div style="margin: 15px">
  <div style="margin-bottom: 15px">Estrutura de dados de uma pessoa (Json -> formato de dados utilizado para envio de informações ao backend)</div>
  <pre>
{{umaPessoa | json}}
  </pre>
</div>

